.shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

nav a {
  margin-right: 15px;
}

.btn-primary {
  color: white;
  border-radius: 5px;
  padding: 20px 12px;
  background: rebeccapurple;
  text-decoration: none;
  transform: translateY(15px);
  display: inline-block;
  transition: all 0.8s ease;
}

.btn-primary:hover {
  transform: translateY(10px);
}
